interactions:
- request:
    body: '{"exchange": "NSE", "tradingsymbol": "TCS", "symboltoken": "11536"}'
    headers:
      Content-Type:
      - application/json
      X-ClientLocalIP:
      - CLIENT_LOCAL_IP
      X-ClientPublicIP:
      - CLIENT_PUBLIC_IP
      X-MACAddress:
      - MAC_ADDRESS
      X-PrivateKey:
      - zQi2vgME
      X-SourceID:
      - WEB
      X-UserType:
      - USER
    method: POST
    uri: https://apiconnect.angelbroking.com/rest/secure/angelbroking/order/v1/getLtpData
  response:
    body:
      string: '{"status":true,"message":"SUCCESS","errorcode":"","data":{"exchange":"NSE","tradingsymbol":"TCS-EQ","symboltoken":"11536","open":3056.0,"high":3074.0,"low":3041.2,"close":3079.3,"ltp":3056.0}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/smart-api/equity/price/TCS
  response:
    body:
      string: '{"symbol":"TCS-EQ","last_traded_price":3056.0,"day_open":3056.0,"day_low":3041.2,"day_high":3074.0,"change":-23.300000000000182,"percent_change":-0.7566654759198578,"symbol_token":"11536","prev_day_close":3079.3}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
