interactions:
- request:
    body: '{"exchange": "NSE", "tradingsymbol": "BPCL", "interval": "THREE_MINUTE",
      "fromdate": "2023-10-11 09:15", "todate": "2023-10-11 15:29", "symboltoken":
      "526"}'
    headers:
      Content-Type:
      - application/json
      X-ClientLocalIP:
      - CLIENT_LOCAL_IP
      X-ClientPublicIP:
      - CLIENT_PUBLIC_IP
      X-MACAddress:
      - MAC_ADDRESS
      X-PrivateKey:
      - zQi2vgME
      X-SourceID:
      - WEB
      X-UserType:
      - USER
    method: POST
    uri: https://apiconnect.angelbroking.com/rest/secure/angelbroking/historical/v1/getCandleData
  response:
    body:
      string: '{"status":true,"message":"SUCCESS","errorcode":"","data":[["2023-10-11T09:15:00+05:30",171.1,171.23,170.85,171.03,110088],["2023-10-11T09:18:00+05:30",171.0,171.48,170.95,171.48,71720],["2023-10-11T09:21:00+05:30",171.43,171.78,171.38,171.55,68706],["2023-10-11T09:24:00+05:30",171.65,171.65,171.28,171.45,44888],["2023-10-11T09:27:00+05:30",171.45,171.65,171.3,171.65,48926],["2023-10-11T09:30:00+05:30",171.65,171.75,171.55,171.73,33428],["2023-10-11T09:33:00+05:30",171.75,172.1,171.73,172.05,66274],["2023-10-11T09:36:00+05:30",172.05,172.4,172.0,172.3,[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/smart-api/equity/history/BPCL?end_date=2023-10-11+15%3A29&interval=3+minutes&start_date=2023-10-11+9%3A15
  response:
    body:
      string: '{"available_stock_data":[{"timestamp":"2023-10-11T09:15:00+05:30","open":171.1,"high":171.03,"low":170.85,"close":171.23,"volume":110088,"stock_symbol":"BPCL","candle_interval":"THREE_MINUTE"},{"timestamp":"2023-10-11T09:18:00+05:30","open":171.0,"high":171.48,"low":170.95,"close":171.48,"volume":71720,"stock_symbol":"BPCL","candle_interval":"THREE_MINUTE"},{"timestamp":"2023-10-11T09:21:00+05:30","open":171.43,"high":171.55,"low":171.38,"close":171.78,"volume":68706,"stock_symbol":"BPCL","candle_interval":"THREE_MINUTE"},{"timestamp":"2023-10-11T09:24:00+05:30","open":171.65,"high":171.45,"low":171.28,"close":171.65,"volume":44888,"stock_symbol":"BPCL","candle_interva[...]
