interactions:
- request:
    body: '{"exchange": "NSE", "tradingsymbol": "ACC", "interval": "ONE_MINUTE", "fromdate":
      "2023-10-05 12:00", "todate": "2023-10-05 12:20", "symboltoken": "22"}'
    headers:
      Content-Type:
      - application/json
      X-ClientLocalIP:
      - CLIENT_LOCAL_IP
      X-ClientPublicIP:
      - CLIENT_PUBLIC_IP
      X-MACAddress:
      - MAC_ADDRESS
      X-PrivateKey:
      - zQi2vgME
      X-SourceID:
      - WEB
      X-UserType:
      - USER
    method: POST
    uri: https://apiconnect.angelbroking.com/rest/secure/angelbroking/historical/v1/getCandleData
  response:
    body:
      string: '{"status":true,"message":"SUCCESS","errorcode":"","data":[["2023-10-05T12:00:00+05:30",1999.85,2000.3,1999.3,2000.3,63],["2023-10-05T12:01:00+05:30",2000.4,2001.0,2000.3,2001.0,23],["2023-10-05T12:02:00+05:30",2000.25,2003.1,2000.25,2003.1,517],["2023-10-05T12:03:00+05:30",2003.1,2003.9,2002.65,2003.9,250],["2023-10-05T12:04:00+05:30",2003.95,2004.15,2003.55,2004.15,630],["2023-10-05T12:05:00+05:30",2004.0,2004.0,2003.05,2003.25,44],["2023-10-05T12:06:00+05:30",2003.2,2004.25,2003.2,2004.25,138],["2023-10-05T12:07:00+05:30",2004.5,2005.0,2004.1,2004.7,128],["2023-10-05T12:08:00+05:30",2004.5,2004.5,2003.0,2003.0,63],["2023-10-05T12:09:00+05:30",2003.95,2003.95,2003.95,2003.95,2],["2023-10-05T12:10:00+05:30",2003.7,2004.2,2002.95,2002.95,129],["2023-10-05T12:11:00+05:30",2003.05,2003.8,2002.85,2003.8,100],["2023-10-05T12:12:00+05:30",2003.1,2003.95,2003.1,2003.95,100],["2023-10-05T12:13:00+05:30",2003.8,2003.95,2003.05,2003.05,117],["2023-10-05T12:14:00+05:30",2003.95,2003.95,2003.95,2003.95,1],["2023-10-05T12:15:00+05:30",2002.75,2004.0,2002.75,2003.75,218],["2023-10-05T12:16:00+05:30",2003.8,2003.8,2001.95,2002.75,143],["2023-10-05T12:17:00+05:30",2002.8,2002.8,2002.8,2002.8,1],["2023-10-05T12:18:00+05:30",2001.8,2001.8,2001.8,2001.8,1],["2023-10-05T12:19:00+05:30",2001.8,2001.8,2001.3,2001.3,35],["2023-10-05T12:20:00+05:30",2001.05,2001.7,2001.05,2001.7,8]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/smart-api/equity/history/ACC?end_date=2023-10-05+12%3A20&interval=one+minute&start_date=2023-10-5+12%3A0
  response:
    body:
      string: '{"available_stock_data":[{"timestamp":"2023-10-05T12:00:00+05:30","open":1999.85,"high":2000.3,"low":1999.3,"close":2000.3,"volume":63,"stock_symbol":"ACC","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-05T12:01:00+05:30","open":2000.4,"high":2001.0,"low":2000.3,"close":2001.0,"volume":23,"stock_symbol":"ACC","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-05T12:02:00+05:30","open":2000.25,"high":2003.1,"low":2000.25,"close":2003.1,"volume":517,"stock_symbol":"ACC","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-05T12:03:00+05:30","open":2003.1,"high":2003.9,"low":2002.65,"close":2003.9,"volume":250,"stock_symbol":"ACC","candle_interval":"ONE_MINU[...]
