interactions:
- request:
    body: '{"exchange": "NSE", "tradingsymbol": "SBIN", "interval": "ONE_MINUTE",
      "fromdate": "2023-10-09 15:15", "todate": "2023-10-09 16:29", "symboltoken":
      "3045"}'
    headers:
      Content-Type:
      - application/json
      X-ClientLocalIP:
      - CLIENT_LOCAL_IP
      X-ClientPublicIP:
      - CLIENT_PUBLIC_IP
      X-MACAddress:
      - MAC_ADDRESS
      X-PrivateKey:
      - zQi2vgME
      X-SourceID:
      - WEB
      X-UserType:
      - USER
    method: POST
    uri: https://apiconnect.angelbroking.com/rest/secure/angelbroking/historical/v1/getCandleData
  response:
    body:
      string: '{"status":true,"message":"SUCCESS","errorcode":"","data":[["2023-10-09T15:15:00+05:30",585.2,585.25,584.9,585.1,39717],["2023-10-09T15:16:00+05:30",585.1,585.2,585.0,585.05,57305],["2023-10-09T15:17:00+05:30",585.1,585.5,585.05,585.2,47234],["2023-10-09T15:18:00+05:30",585.2,585.4,584.75,584.85,59861],["2023-10-09T15:19:00+05:30",584.8,584.9,584.65,584.85,33024],["2023-10-09T15:20:00+05:30",584.85,585.15,584.7,584.95,93018],["2023-10-09T15:21:00+05:30",584.8,585.2,584.8,585.1,19607],["2023-10-09T15:22:00+05:30",585.15,585.25,585.0,585.05,31449],["2023-10-09T15:23:00+05:30",585.1,585.1,584.95,585.0,39026],["2023-10-09T15:24:00+05:30",584.95,585.05,584.75,585.0,31045],["2023-10-09T15:25:00+05:30",584.95,585.0,584.75,584.8,36731],["2023-10-09T15:26:00+05:30",584.8,584.95,584.5,584.8,28299],["2023-10-09T15:27:00+05:30",584.65,584.9,584.65,584.75,31928],["2023-10-09T15:28:00+05:30",584.9,584.9,584.6,584.7,40052],["2023-10-09T15:29:00+05:30",584.7,584.8,584.5,584.55,48190]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/smart-api/equity/history/SBIN?end_date=2023-OCT-9+16%3A29&interval=ONE_MINUTE&start_date=2023%2F10%2F9+15%3A15
  response:
    body:
      string: '{"available_stock_data":[{"timestamp":"2023-10-09T15:15:00+05:30","open":585.2,"high":585.1,"low":584.9,"close":585.25,"volume":39717,"stock_symbol":"SBIN","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-09T15:16:00+05:30","open":585.1,"high":585.05,"low":585.0,"close":585.2,"volume":57305,"stock_symbol":"SBIN","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-09T15:17:00+05:30","open":585.1,"high":585.2,"low":585.05,"close":585.5,"volume":47234,"stock_symbol":"SBIN","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-09T15:18:00+05:30","open":585.2,"high":584.85,"low":584.75,"close":585.4,"volume":59861,"stock_symbol":"SBIN","candle_interval":"ONE_MINUT[...]
