interactions:
- request:
    body: '{"exchange": "NSE", "tradingsymbol": "DABUR", "interval": "ONE_MINUTE",
      "fromdate": "2023-10-05 14:00", "todate": "2023-10-05 15:20", "symboltoken":
      "772"}'
    headers:
      Content-Type:
      - application/json
      X-ClientLocalIP:
      - CLIENT_LOCAL_IP
      X-ClientPublicIP:
      - CLIENT_PUBLIC_IP
      X-MACAddress:
      - MAC_ADDRESS
      X-PrivateKey:
      - zQi2vgME
      X-SourceID:
      - WEB
      X-UserType:
      - USER
    method: POST
    uri: https://apiconnect.angelbroking.com/rest/secure/angelbroking/historical/v1/getCandleData
  response:
    body:
      string: '{"status":true,"message":"SUCCESS","errorcode":"","data":[["2023-10-05T14:00:00+05:30",550.7,550.75,550.3,550.3,682],["2023-10-05T14:01:00+05:30",550.4,550.8,550.4,550.55,2659],["2023-10-05T14:02:00+05:30",550.6,550.6,550.3,550.3,1748],["2023-10-05T14:03:00+05:30",550.35,550.65,550.35,550.5,5535],["2023-10-05T14:04:00+05:30",550.55,550.65,550.25,550.5,1883],["2023-10-05T14:05:00+05:30",550.5,550.6,550.1,550.2,2354],["2023-10-05T14:06:00+05:30",550.25,550.3,550.0,550.0,5335],["2023-10-05T14:07:00+05:30",550.0,550.15,550.0,550.0,1342],["2023-10-05T14:08[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/smart-api/equity/history/DAbur?end_date=2023-10-05+15%3A20&interval=one-MINUTE&start_date=2023-october-5+14%3A0
  response:
    body:
      string: '{"available_stock_data":[{"timestamp":"2023-10-05T14:00:00+05:30","open":550.7,"high":550.3,"low":550.3,"close":550.75,"volume":682,"stock_symbol":"DABUR","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-05T14:01:00+05:30","open":550.4,"high":550.55,"low":550.4,"close":550.8,"volume":2659,"stock_symbol":"DABUR","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-05T14:02:00+05:30","open":550.6,"high":550.3,"low":550.3,"close":550.6,"volume":1748,"stock_symbol":"DABUR","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-05T14:03:00+05:30","open":550.35,"high":550.5,"low":550.35,"close":550.65,"volume":5535,"stock_symbol":"DABUR","candle_interval":"ONE_MINUT[...]
