interactions:
- request:
    body: '{"exchange": "NSE", "tradingsymbol": "INFY", "symboltoken": "1594"}'
    headers:
      Content-Type:
      - application/json
      X-ClientLocalIP:
      - CLIENT_LOCAL_IP
      X-ClientPublicIP:
      - CLIENT_PUBLIC_IP
      X-MACAddress:
      - MAC_ADDRESS
      X-PrivateKey:
      - zQi2vgME
      X-SourceID:
      - WEB
      X-UserType:
      - USER
    method: POST
    uri: https://apiconnect.angelbroking.com/rest/secure/angelbroking/order/v1/getLtpData
  response:
    body:
      string: '{"status":true,"message":"SUCCESS","errorcode":"","data":{"exchange":"NSE","tradingsymbol":"INFY-EQ","symboltoken":"1594","open":1513.0,"high":1517.2,"low":1496.1,"close":1516.0,"ltp":1513.7}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/smart-api/equity/price/infy
  response:
    body:
      string: '{"symbol":"INFY-EQ","last_traded_price":1513.7,"day_open":1513.0,"day_low":1496.1,"day_high":1517.2,"change":-2.2999999999999545,"percent_change":-0.15171503957783342,"symbol_token":"1594","prev_day_close":1516.0}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
