interactions:
- request:
    body: '{"exchange": "NSE", "tradingsymbol": "TCS", "interval": "ONE_MINUTE", "fromdate":
      "2023-10-11 09:15", "todate": "2023-10-11 15:29", "symboltoken": "11536"}'
    headers:
      Content-Type:
      - application/json
      X-ClientLocalIP:
      - CLIENT_LOCAL_IP
      X-ClientPublicIP:
      - CLIENT_PUBLIC_IP
      X-MACAddress:
      - MAC_ADDRESS
      X-PrivateKey:
      - zQi2vgME
      X-SourceID:
      - WEB
      X-UserType:
      - USER
    method: POST
    uri: https://apiconnect.angelbroking.com/rest/secure/angelbroking/historical/v1/getCandleData
  response:
    body:
      string: '{"status":true,"message":"SUCCESS","errorcode":"","data":[["2023-10-11T09:15:00+05:30",3650.0,3650.0,3622.45,3630.75,63567],["2023-10-11T09:16:00+05:30",3631.85,3641.75,3630.75,3631.5,31259],["2023-10-11T09:17:00+05:30",3632.05,3635.5,3626.1,3630.5,31702],["2023-10-11T09:18:00+05:30",3629.55,3636.0,3629.0,3635.95,17422],["2023-10-11T09:19:00+05:30",3635.95,3638.95,3634.55,3638.15,13379],["2023-10-11T09:20:00+05:30",3639.85,3641.15,3636.3,3637.45,25029],["2023-10-11T09:21:00+05:30",3636.25,3641.4,3636.25,3639.75,11188],["2023-10-11T09:22:00+05:30",3641[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/smart-api/equity/history/TCS?end_date=2023-10-11+15%3A29&interval=ONE_MINUTE&start_date=2023-10-11+09%3A15
  response:
    body:
      string: '{"available_stock_data":[{"timestamp":"2023-10-11T09:15:00+05:30","open":3650.0,"high":3630.75,"low":3622.45,"close":3650.0,"volume":63567,"stock_symbol":"TCS","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-11T09:16:00+05:30","open":3631.85,"high":3631.5,"low":3630.75,"close":3641.75,"volume":31259,"stock_symbol":"TCS","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-11T09:17:00+05:30","open":3632.05,"high":3630.5,"low":3626.1,"close":3635.5,"volume":31702,"stock_symbol":"TCS","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-11T09:18:00+05:30","open":3629.55,"high":3635.95,"low":3629.0,"close":3636.0,"volume":17422,"stock_symbol":"TCS","candle_interval"[...]
