interactions:
- request:
    body: '{"exchange": "NSE", "tradingsymbol": "INFY", "interval": "ONE_MINUTE",
      "fromdate": "2023-10-09 09:15", "todate": "2023-10-09 10:05", "symboltoken":
      "1594"}'
    headers:
      Content-Type:
      - application/json
      X-ClientLocalIP:
      - CLIENT_LOCAL_IP
      X-ClientPublicIP:
      - CLIENT_PUBLIC_IP
      X-MACAddress:
      - MAC_ADDRESS
      X-PrivateKey:
      - zQi2vgME
      X-SourceID:
      - WEB
      X-UserType:
      - USER
    method: POST
    uri: https://apiconnect.angelbroking.com/rest/secure/angelbroking/historical/v1/getCandleData
  response:
    body:
      string: '{"status":true,"message":"SUCCESS","errorcode":"","data":[["2023-10-09T09:15:00+05:30",1464.9,1477.9,1464.9,1477.3,74096],["2023-10-09T09:16:00+05:30",1476.15,1484.35,1476.15,1483.5,100502],["2023-10-09T09:17:00+05:30",1482.95,1487.0,1479.75,1479.75,47036],["2023-10-09T09:18:00+05:30",1479.75,1483.3,1479.75,1481.05,51261],["2023-10-09T09:19:00+05:30",1481.55,1482.15,1480.05,1481.0,36463],["2023-10-09T09:20:00+05:30",1481.25,1484.65,1479.6,1484.65,42957],["2023-10-09T09:21:00+05:30",1484.4,1484.4,1481.5,1481.9,27373],["2023-10-09T09:22:00+05:30",1482.0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/smart-api/equity/history/inFy?end_date=2023-10-9+10%3A5&interval=ONE_MINUTE&start_date=2023-ocTOber-9+9%3A15
  response:
    body:
      string: '{"available_stock_data":[{"timestamp":"2023-10-09T09:15:00+05:30","open":1464.9,"high":1477.3,"low":1464.9,"close":1477.9,"volume":74096,"stock_symbol":"INFY","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-09T09:16:00+05:30","open":1476.15,"high":1483.5,"low":1476.15,"close":1484.35,"volume":100502,"stock_symbol":"INFY","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-09T09:17:00+05:30","open":1482.95,"high":1479.75,"low":1479.75,"close":1487.0,"volume":47036,"stock_symbol":"INFY","candle_interval":"ONE_MINUTE"},{"timestamp":"2023-10-09T09:18:00+05:30","open":1479.75,"high":1481.05,"low":1479.75,"close":1483.3,"volume":51261,"stock_symbol":"INFY","candle_in[...]
